{{ range .Params.highlights }}
<section class="py-12 bg-teal" style="color: {{.text_color}}">
  <div class="container mx-auto">
    {{with .title}}
    <p class="text-3xl font-bold mb-8">{{.}}</p>
    {{end}}
    {{with .description}}
    <div class="content mb-8">{{.}}</div>
    {{end}}
    {{if .link}}
      <a href="{{.link}}" class="text-sm no-underline border-2 border-white text-white hover:bg-white hover:text-green rounded-sm px-3 py-2 mb-4 inline-block">{{.link_name}}</a>
    {{end}}
  </div>
</section>
{{end}}