{{ $currentPageUrl := .URL }}
{{ $parentTitle := .Parent.Title }}
{{ $currentSection := (where .Site.Pages "Section" .Section) }}
{{ $i := sub ($currentSection | len) 1 }}
{{ if ge $i 1 }}
  <aside class="py-8 px-8 bg-grey-lightest rounded">
    {{ if ge (.Data.Pages | len) 1 }}
      <p class="uppercase text-grey-darker mb-4 border-b pb-2">{{ .Title }}</p>
    {{ else }}
      <p class="uppercase text-grey-darker mb-4 border-b pb-2">{{ .Parent.Title }}</p>    
    {{ end }}
    <ul class="list-reset">
      {{ range $currentSection.ByTitle }}
        {{ if ne .Title $parentTitle }}
          {{if eq .URL $currentPageUrl }}
            <li><a class="block py-2 no-underline rounded-sm bg-blue px-3 text-white mb-2" href="{{.URL}}">{{.Title}}</a></li>
          {{else}}
            <li><a href="{{.URL}}" class="block py-2 no-underline rounded-sm hover:bg-grey-light mb-2 text-black mb-2 px-3">{{.Title}}</a></li>
          {{end}}
        {{end}}
      {{end}}
    </ul>
  </aside>
{{end}}